body {
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s, opacity .5s;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

input, button {
  &:focus {
    outline: none;
  }
}

input {
  border-radius: 0;
}


.scroll {
  overflow-y: auto;
  padding-right: 15px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid slategrey;
  }
}
